<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.test.test3app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.test.test3app.appbase.ZApplication"
        android:theme="@style/Theme.Test3app"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.test.test3app.activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.test.test3app.activity.MainActivity_990_cell"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.test.test3app.activity.MainActivity_99_dark_mode" />
        <activity android:name="com.test.test3app.activity.MainActivity_98_sticker_reply" />
        <activity android:name="com.test.test3app.activity.MainActivity_97_textview_spannable" />
        <activity
            android:name="com.test.test3app.activity.MainActivity_94_wallpaper"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.test.test3app.activity.MainActivity_95_textview" />
        <activity android:name="com.test.test3app.activity.MainActivity93_threadPool" />
        <activity android:name="com.test.test3app.activity.MainActivity91_Qmoji" />
        <activity android:name="com.test.test3app.activity.MainActivity1_unknown" />
        <activity android:name="com.test.test3app.activity.MainActivity92_huawei_meeting" />
        <activity android:name="com.test.test3app.activity.MainActivity9_openGL" />
        <activity android:name="com.test.test3app.activity.MainActivity8_permission" />
        <activity android:name="com.test.test3app.activity.MainActivity7_recyclerView" />
        <activity android:name="com.test.test3app.activity.MainActivity6_pay" />
        <activity android:name="com.test.test3app.activity.MainActivity5_takephoto" />
        <activity android:name="com.test.test3app.activity.MainActivity4_grouptips" />
        <activity android:name="com.test.test3app.activity.MainActivity3_sms" />
        <activity android:name="com.test.test3app.activity.MainActivity2_record" />
        <activity android:name="com.test.test3app.activity.MainActivity_96_faceview" />
        <activity android:name="com.test.test3app.activity.MainActivity_991_calculate" />
        <activity
            android:name="com.test.test3app.MainActivity_inputbar"
            android:windowSoftInputMode="adjustPan" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7084074281104788~2199438140" />

        <provider
            android:name="com.test.test3app.MyContentProvider"
            android:authorities="com.test.myProvider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.test.photo"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>