<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.test.test3app">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".appbase.ZApplication"
        android:icon="@drawable/anime_girl"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/anime_girl"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test3app"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity_990_cell"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.MainActivity_99_dark_mode" />
        <activity android:name=".activity.MainActivity_98_sticker_reply" />
        <activity android:name=".activity.MainActivity_996_expand" />
        <activity android:name=".activity.MainActivity_97_textview_spannable" />
        <activity
            android:name=".activity.MainActivity_94_wallpaper"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.MainActivity_95_textview" />
        <activity android:name=".activity.MainActivity93_threadPool" />
        <activity android:name=".activity.MainActivity91_Qmoji" />
        <activity android:name=".activity.MainActivity1_unknown" />
        <activity android:name=".activity.MainActivity92_huawei_meeting" />
        <activity android:name=".activity.MainActivity9_openGL" />
        <activity android:name=".activity.MainActivity8_permission" />
        <activity android:name=".activity.MainActivity7_ListView" />
        <activity android:name=".activity.MainActivity6_pay" />
        <activity android:name=".activity.MainActivity5_takephoto" />
        <activity android:name=".activity.MainActivity4_grouptips" />
        <activity android:name=".activity.MainActivity3_sms" />
        <activity android:name=".activity.MainActivity2_record" />
        <activity android:name=".activity.MainActivity_96_faceview" />
        <activity android:name=".activity.MainActivity_991_calculate" />
        <activity android:name=".activity.MainActivity_997_cameraWallpaper" />
        <activity android:name=".activity.MainActivity_998_nest" />
        <activity android:name=".activity.MainActivity_999_loading" />
        <activity android:name=".activity.MainActivity_9991_animateimageview" />
        <activity
            android:name=".activity.MainActivity_994_gallery_pager"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".activity.MainActivity_995_popwindow"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".activity.MainActivity_992_drawerLayout"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".activity.MainActivity_993_pulldown"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".MainActivity_inputbar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".layoutmanager.GalleryActivity" />
        <activity android:name=".layoutmanager.TanTanAvatarActivity" />
        <activity android:name=".layoutmanager.LoopGalleryActivity" />

        <provider
            android:name=".MyContentProvider"
            android:authorities="${applicationId}.myProvider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.photo"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>