<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.test.test3app">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".appbase.ZApplication"
        android:icon="@drawable/anime_girl"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/anime_girl"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test3app"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".windowtransition.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".windowtransition.ThirdActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".activity.Activity0"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Activity_990_cell"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.Activity_99_dark_mode" />
        <activity android:name=".activity.Activity_98_sticker_reply" />
        <activity android:name=".activity.Activity_996_expand" />
        <activity android:name=".activity.Activity_97_textview_spannable" />
        <activity
            android:name=".activity.Activity_94_wallpaper"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.Activity_95_textview" />
        <activity android:name=".activity.Activity_93_threadPool" />
        <activity android:name=".activity.Activity_91_Qmoji" />
        <activity android:name="im.thebot.chat.ui.ChatActivity" />
        <activity android:name=".activity.Activity_92_huawei_meeting" />
        <activity android:name=".activity.Activity_9_openGL" />
        <activity android:name=".activity.Activity_8_smoothSwitch" />
        <activity android:name=".activity.Activity_7_ListView" />
        <activity android:name=".activity.Activity_6_pay" />
        <activity android:name=".activity.Activity_5_takephoto" />
        <activity android:name=".activity.Activity_4_grouptips" />
        <activity android:name=".activity.Activity_3_sms" />
        <activity android:name=".activity.Activity_2_unknown" />
        <activity android:name=".activity.Activity_96_faceview" />
        <activity android:name=".activity.Activity_991_calculate" />
        <activity android:name=".activity.Activity_997_cameraWallpaper" />
        <activity android:name=".activity.Activity_998_nest" />
        <activity android:name=".activity.Activity_999_loading" />
        <activity android:name=".activity.Activity_9991_animateimageview" />
        <activity android:name=".activity.Activity_9992_windowContentTransition" />
        <activity android:name=".activity.Activity_9993_wam" />
        <activity android:name=".activity.Activity_9994_permission" />
        <activity android:name=".activity.Activity_9996_bubble" />
        <activity android:name=".activity.Activity_9997_dir" />
        <activity android:name=".activity.Activity_9998_toolbar" />
        <activity android:name=".activity.Activity_9999_viewpager2" />
        <activity android:name=".activity.Activity_99990_gesture" />
        <activity
            android:name=".activity.Activity_9995_mention"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".windowtransition.gridtopager.MainActivity_google" />
        <activity
            android:name=".activity.Activity_994_gallery_pager"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".activity.Activity_995_popwindow"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.Activity_992_drawerLayout"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".activity.Activity_993_slide"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".MainActivity_inputbar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".layoutmanager.GalleryActivity" />
        <activity android:name=".layoutmanager.TanTanAvatarActivity" />
        <activity android:name=".layoutmanager.LoopGalleryActivity" />

    </application>

</manifest>